/* App.css */

/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  font-family: 'Press Start 2P', monospace;
  color-scheme: light dark;
  background-color: #242424;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  text-align: center;
}

h1 {
  font-size: 2.5em;
  margin: 0.5em 0;
}

.tree-container {
  position: relative;
  display: inline-block;
  margin-bottom: 1em;
}

.logo {
  height: 10em;
  animation: logo 5s infinite;
}

.card {
  padding: 1em;
}

.joke {
  font-size: 1.2em;
  margin-top: 1em;
  color: #419cdd;
  transition: opacity 0.3s ease-in-out;
}

button {
  margin-top: 1em;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  background-color: #1a1a1a;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #646cff;
}

footer {
  margin-top: 2em;
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.7);
}

/* Responsive Design */
@media (max-width: 600px) {
  h1 {
    font-size: 1.8em;
  }
  .logo {
    height: 8em;
  }
  .card {
    padding: 1em;
  }
  button {
    font-size: 0.8em;
  }
}

/* Animation */

/* Garland container */
.garland {
  position: absolute;
  top: 0; /* Position at the top of the page */
  left: 0;
  width: 100%; /* Full width of the screen */
  display: flex;
  justify-content: center; /* Center the lights */
  pointer-events: none; /* Prevent the garland from interfering with user interactions */
  z-index: 999; /* Ensure it stays on top of other elements */
}

/* Individual light styles */
.light {
  width: 12px;
  height: 12px;
  background-color: #dd4141; /* Default red color */
  border-radius: 50%;
  margin: 5px;
  animation: blink 2s infinite; /* Blink effect */
}

.light:nth-child(2n) {
  background-color: #4fd74f;
}

.light:nth-child(3n) {
  background-color: #5252bd;
}

.light:nth-child(4n) {
  background-color: #cfcf57;
}

.light:nth-child(5n) {
  background-color: #d7d4d4;
}

.light:nth-child(odd) {
  animation-delay: calc(var(--index) * 0.1s);
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
}

@keyframes logo {
  0%, 100% {
    filter: drop-shadow(0 0 2em rgba(100, 255, 154, 0.67));
  }
  50% {
    filter: drop-shadow(0 0 2em rgba(100, 255, 154, 0.3));
  }
}
